.DS_Store
.idea/
.vscode/
*.log

mysql_data/
.env
tmp/

target/
*.jar
*.war
*.expanded
bin/
build/
.gradle/
.settings/
.classpath
.project

# --- Python ---
venv/
env/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

*.sql
